node_modules/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/
venv/
.venv/

# Logs
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment files
.env
*.env
